html {
  height: 100%;
  width: 100%;
  color: black;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}


body {
  background-color: #F8DFF2;
}

button[type="button"] {
  background-color: #DE76C5;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button[type="button"]:hover {
  background-color: #C279B4;
}

iframe {
  padding: 20px;
}

.helpful-links {
  color: #CF54CD;
  text-decoration: none;
}

.helpful-links:hover {
  text-decoration: underline;
}

.helpful-links:visited {
  color: #D1537E;
}

.text-box {
  border: 1px solid #000;
  padding: 20px;
  width: 700px;
  background-color: #D658AA;
}

.text-box-for-small {
  width: 500px;
  padding: 20px;
  background-color: #D658AA;
  border: 1px solid #333;
  text-align: center;
  font-size: 18px;
}

#bulletpoints {
  font-style: italic;
  border: 1px solid #000;
  padding: 20px;
  width: 700px;
  background-color: #D658AA;
}

#likeButton {
  background-color: #DE76C5;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #DE76C5;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  display: flex;
}

.navbar ul li {
  margin: 0;
  padding: 0;
  margin-right: 100px;
  margin-left: 100px;
}

.navbar ul li a {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  font-weight: bold;
  color: #89DDEC;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
  justify-content: center;
  /* Center items vertically */
  background-color: #D658AA;
  color: #fff;
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
}

/* ID selector called header-left */
.header-item:nth-of-type(1) {
  flex: 1;
}

/* ID selector called header-right */
.header-item:nth-of-type(2) {
  flex: 1;
}

/* ID selector called header-img */
#header-img {
  padding: 10px 10px;
  max-width: 50%;
  margin-left: 100px;
  margin-right: 100px;
}

/* Class selector called header-button */
.header-button {
  background-color: #DE76C5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D658AA;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}


.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.petition-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  /* Center horizontally */
  padding-bottom: 50px;
  max-width: 100%;
}

.petition-para {
  width: 55%;
  padding-right: 10px;
}

.signatures {
  width: 45%;
  padding-right: 10px;
}

#theme-button {
  background-color: #7A0F4B;
  color: #fff;
  padding: 10px 10px;
  border: 2px solid #7A0F4B;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-decoration: underline;
}

#theme-button:hover {
  background-color: #B515AF;
}

#sign-now-button {
  background-color: #B515AF;
  /* Green background color */
  color: white;
  /* White text color */
  padding: 10px 20px;
  /* Padding around the text */
  border: none;
  /* No border */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Show a hand cursor on hover */
  margin: 10px;
}

#sign-now-button:hover {
  background-color: #7A0F4B;
  margin: 10px;
  padding: 10px 20px;
}

.dark-mode {
  background-color: #54053F;
  color: white;
}

label {
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

input {
  width: 10%;
  padding: 10px;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}